<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ASM demo </title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <script type="text/javascript">

    function onPress() {
      alert('On Press');
    }

  </script>

</head>

<body>
  <div style="width: 500px; height: 400px; padding-top: 50px;" class="container">

    <div class="media" style="text-align: center;">
      <img src="./images/logo.png" style="width: 100px; height: auto;" />
    </div>

    <div style="text-align: center;">

      <form action="/home"
        style="width: 200px; margin: auto; padding: 30px; border: solid 2px darkgray; border-radius: 20px;">

        <div class="form-group">

          <input type="text" class="form-control" id="username" placeholder="Username">

        </div>

        <div class="form-group">

          <input type="password" class="form-control" id="pass" placeholder="Password">

        </div>

        <div class="checkbox">

          <label><input type="checkbox"> Remember me</label>

        </div>

        <button type="submit" class="btn btn-default" onclick=""
          style="font-weight: bold; font-family: sans-serif; background-color: darkblue; color: #ffffff; border: 0px;">Login</button>

      </form>

    </div>


  </div>